<h2>Course Comparison</h2>
<table>
  <tr>
    <th>Course &nbsp; &nbsp; &nbsp;</th>
    <th>Time Spent &nbsp; &nbsp; &nbsp;</th>
    <th>Completed?</th>
    <th>Date</th>
  </tr>
  <tr>
  </tr>
</table>