<h2>Course Comparison</h2>
<table>
  <tr>
    <th>Course</th>
    <th>Time Spent</th>
  </tr>
  <tr>
      <tr>
        <% @courses.class_name.each do |course| %>
          <td><%= course %></td>
        <% @courses.average_time.each do |time| %>
          <td><%= time %></td>
      </tr>
      <% end %>  
    <% end %>
  </tr>
</table>