<h2>Course Compare Chart</h2>
<table id="students">
  <tr>
    <th>Course</th>
    <th>Average Time Spent (All Students)</th>
  </tr>
  <% @average_time.each do |course, time| %>
    <tr>
      <td><%= course %></td>
      <td><%= time.round(2) %></td>
    </tr>
  <% end %>
</table>