<h2>Course Comparison</h2>
<table>
  <tr>
    <th>Course</th>
    <th>Average Time Spent</th>
  </tr>
  <% @average_time.each do |course, time| %>
    <tr>
      <td><%= course %></td>
      <td><%= time %></td>
    </tr>
  <% end %>
</table>