<table>
  <tr>
    <th>Course &nbsp; &nbsp; &nbsp;</th>
    <th>Time Spent &nbsp; &nbsp; &nbsp;</th>
    <th>Completed?</th>
  </tr>
  <tr>
    <td><%= @course.name %></td>
    <td><%= @course.time_spent %></td>
    <td><%= @course.completed %></td>
  </tr>
</table>